
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
<h3> 주차장 관리 시스템</h3>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>지도 생성하기</title>
    
</head>
<body>
<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f43768b0bcfcb8a5f1be7609c399c54f"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption); 
</script>
</body>
</html>
<ion-grid>
  <ion-row>
    <ion-col align-self-center>
      <ion-button
      [routerLink]="['/register']"
      size="large"
      expand="block"
      color="primary"
      >예약등록</ion-button>
      <br/>
      <ion-button
      [routerLink]="['/login']"
      size="large"
      expand="block"
      color="success"
      >예약하기</ion-button>
      <br/>
      <ion-button
      [routerLink]="['/profile']"
      size="large"
      expand="block"
      color="danger"
      >예약확인하기</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>


